.page--container {
    display: flex;
    flex-direction: column;

    .navigation--container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
}