.list-user--container {
  display: flex;
  justify-content: center;
  height: 100vh;

  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }

  th {
    border-bottom: 1px solid black;
  }

  td {
    text-align: center;
  }
}
