.list-user--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -100px;
  padding: 30px;
  padding-top: 120px;

  h1 {
    font-size: 30px;
  }

  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }

  th {
    border-bottom: 1px solid black;
  }

  td {
    text-align: center;
  }
}
